Verifica tener el kernel seleccionado como `tu_entorno`

In [447]:
import pandas as pd

Creamos un dataframe para cada hoja del excel. Luego decidiremos cual hoja sera exportada y necesaria para nuestro analisis.

In [448]:
excel = pd.read_excel(r'C:\Users\mauri\OneDrive\Escritorio\Analisis-de-Mercado-Telefonicas-Arg\data\crudo\Internet.xlsx', sheet_name=None)
paginador = list(excel.keys())
paginador

['Acc_vel_loc_sinrangos',
 'Velocidad_sin_Rangos',
 'Accesos_tecnologia_localidad',
 'Velocidad % por prov',
 'Totales VMD',
 'Totales Accesos Por Tecnología',
 'Accesos Por Tecnología',
 'Penetración-poblacion',
 'Penetracion-hogares',
 'Penetracion-totales',
 'Totales Accesos por velocidad',
 'Accesos por velocidad',
 'Dial-BAf',
 'Totales Dial-BAf',
 'Ingresos ']

In [449]:
# Datos de acceso por localidad sin rangos de velocidad.
acc_vel_loc_sinrangos = excel[paginador[0]]
acc_vel_loc_sinrangos.head()

,Provincia,Partido,Localidad,Link Indec,Otros,"0,256 Mbps","0,5 Mbps","0,512 Mbps","0,75 Mbps",1 Mbps,...,680 Mbps,700 Mbps,800 Mbps,850 Mbps,900 Mbps,999 Mbps,1000 Mbps,1024 Mbps,4000 Mbps,10000 Mbps
0,BUENOS AIRES,25 de Mayo,25 de Mayo,6854100,NaN,NaN,2.0,NaN,19.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BUENOS AIRES,25 de Mayo,Agustín Mosconi,6854010,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BUENOS AIRES,25 de Mayo,Del Valle,6854020,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BUENOS AIRES,25 de Mayo,Ernestina,6854030,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BUENOS AIRES,25 de Mayo,Gobernador Ugarte,6854040,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [450]:
# Información sobre la velocidad de conexión a internet sin rangos específicos.
velocidad_sin_Rangos = excel[paginador[1]]
velocidad_sin_Rangos.head()

,Año,Trimestre,Provincia,Otros,"0,256 Mbps","0,375 Mbps","0,625 Mbps","0,5 Mbps","0,512 Mbps","0,75 Mbps",...,2048 Mbps,2529 Mbps,3072 Mbps,4000 Mbps,5000 Mbps,5125 Mbps,6000 Mbps,7000 Mbps,8000 Mbps,10000 Mbps
0,2024.0,1.0,Buenos Aires,125147.0,18.0,0.0,0.0,25815.0,169.0,4611.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2024.0,1.0,Capital Federal,0.0,31.0,0.0,0.0,451.0,34.0,1307.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2024.0,1.0,Catamarca,70.0,0.0,0.0,0.0,34.0,37.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2024.0,1.0,Chaco,3816.0,0.0,0.0,0.0,234.0,2.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2024.0,1.0,Chubut,16640.0,8.0,0.0,0.0,69.0,34.0,836.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [451]:
#  Accesos a internet por tipo de tecnología y localidad.
accesos_tecnologia_localidad = excel[paginador[2]]
accesos_tecnologia_localidad.head()

,Provincia,Partido,Localidad,Link Indec,ADSL,CABLEMODEM,DIAL UP,FIBRA OPTICA,OTROS,SATELITAL,WIMAX,WIRELESS,Total general
0,BUENOS AIRES,25 de Mayo,25 de Mayo,6854100,755,4600,0,2,0,742,0,727,6826
1,BUENOS AIRES,25 de Mayo,Del Valle,6854020,181,0,0,0,10,1,0,0,192
2,BUENOS AIRES,25 de Mayo,Gobernador Ugarte,6854040,0,0,0,0,0,0,0,181,181
3,BUENOS AIRES,25 de Mayo,Norberto de la Riestra,6854060,0,782,0,496,16,0,0,185,1479
4,BUENOS AIRES,25 de Mayo,Lucas Monteverde,6854050,0,0,0,0,0,0,0,6,6

In [452]:
# Distribución porcentual de la velocidad de conexión a internet por provincia.
velocidad_porc_prov = excel[paginador[3]]
velocidad_porc_prov.head()

    Año  Trimestre        Provincia  Mbps (Media de bajada)
0  2024          1     Buenos Aires                  159.13
1  2024          1  Capital Federal                  229.94
2  2024          1        Catamarca                   91.45
3  2024          1            Chaco                  107.51
4  2024          1           Chubut                   20.50

In [453]:
# Totales de velocidad media descargada (VMD)
totales_VMD = excel[paginador[4]]
totales_VMD.head()

    Año  Trimestre  Mbps (Media de bajada)    Trimestre.1
0  2024          1                  139.15   Ene-Mar 2024
1  2023          4                  139.04   Oct-Dic 2023
2  2023          3                  129.67  Jul-Sept 2023
3  2023          2                  123.95   Abr-Jun 2023
4  2023          1                  110.50   Ene-Mar 2023

In [454]:
# Totales de accesos a internet desglosados por tecnología.
totales_Accesos_Por_Tecnología = excel[paginador[5]]
totales_Accesos_Por_Tecnología.head()

,Año,Trimestre,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total,Periodo
0,2024,1,774475,5986957,4015101,598682,257941,11633156,Ene-Mar 2024
1,2023,4,836390,6022532,3908183,585760,194796,11547661,Oct-Dic 2023
2,2023,3,897895,6018832,3708718,581436,200027,11406908,Jul-Sept 2023
3,2023,2,1006509,5997149,3463988,581823,202428,11251897,Abr-Jun 2023
4,2023,1,1204417,6002582,3243411,576647,214838,11241895,Ene-Mar 2023

In [455]:
# Totales de accesos a internet desglosados por tecnología.
accesos_Por_Tecnología = excel[paginador[6]]
accesos_Por_Tecnología.head()

,Año,Trimestre,Provincia,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
0,2024,1,Buenos Aires,203297.0,2790663.0,1799013.0,150290.0,101294.0,5044557.0
1,2024,1,Capital Federal,70108.0,1177475.0,203756.0,4493.0,48879.0,1504711.0
2,2024,1,Catamarca,5901.0,11025.0,56542.0,1384.0,81.0,74933.0
3,2024,1,Chaco,11343.0,58929.0,64463.0,8404.0,12404.0,155543.0
4,2024,1,Chubut,26306.0,77217.0,26356.0,30867.0,9930.0,170676.0

In [456]:
# Penetración de internet en la población.
penetración_poblacion = excel[paginador[7]]
penetración_poblacion.head()

    Año  Trimestre        Provincia  Accesos por cada 100 hab
0  2024          1     Buenos Aires                     27.80
1  2024          1  Capital Federal                     48.78
2  2024          1        Catamarca                     17.50
3  2024          1            Chaco                     12.48
4  2024          1           Chubut                     26.02

In [457]:
# Penetración de internet en hogares.
penetracion_hogares = excel[paginador[8]]
penetracion_hogares.head()

    Año  Trimestre        Provincia  Accesos por cada 100 hogares
0  2024          1     Buenos Aires                         81.10
1  2024          1  Capital Federal                        119.53
2  2024          1        Catamarca                         68.82
3  2024          1            Chaco                         46.70
4  2024          1           Chubut                         84.89

In [458]:
# Totales de penetración de internet.
penetracion_totales = excel[paginador[9]]
penetracion_totales.head()

,Año,Trimestre,Accesos por cada 100 hogares,Accesos por cada 100 hab,Periodo
0,2024,1,78.89,24.79,Ene-Mar 2024
1,2023,4,78.56,24.66,Oct-Dic 2023
2,2023,3,77.84,24.41,Jul-Sept 2023
3,2023,2,77.02,24.14,Abr-Jun 2023
4,2023,1,77.20,24.17,Ene-Mar 2023

In [459]:
# Totales de accesos a internet desglosados por velocidad de conexión.
totales_Accesos_por_velocidad = excel[paginador[10]]
totales_Accesos_por_velocidad.head()

,Año,Trimestre,Hasta 512 kbps,Entre 512 Kbps y 1 Mbps,Entre 1 Mbps y 6 Mbps,Entre 6 Mbps y 10 Mbps,Entre 10 Mbps y 20 Mbps,Entre 20 Mbps y 30 Mbps,Más de 30 Mbps,OTROS,Total
0,2024,1,28801,69355,866152,950930,672155,353896,8363694,328173,11633156
1,2023,4,29708,71742,900253,978108,697232,350290,8224736,295592,11547661
2,2023,3,30274,80609,945608,998725,720084,350918,8003269,277421,11406908
3,2023,2,30827,79405,963510,1028250,734125,364730,7775095,275955,11251897
4,2023,1,31437,82048,1001553,1060321,729194,357769,7564819,414754,11241895

In [460]:
# Accesos a internet desglosados por velocidad de conexión.
accesos_por_velocidad = excel[paginador[11]]
accesos_por_velocidad.head()

,Año,Trimestre,Provincia,HASTA 512 kbps,+ 512 Kbps - 1 Mbps,+ 1 Mbps - 6 Mbps,+ 6 Mbps - 10 Mbps,+ 10 Mbps - 20 Mbps,+ 20 Mbps - 30 Mbps,+ 30 Mbps,OTROS,Total
0,2024,1,Buenos Aires,26002.0,22510.0,221185.0,233225.0,241778.0,106418.0,4068292.0,125147.0,5044557.0
1,2024,1,Capital Federal,516.0,5418.0,29753.0,51415.0,37369.0,5957.0,1374283.0,0.0,1504711.0
2,2024,1,Catamarca,71.0,176.0,2872.0,3424.0,4204.0,1822.0,62294.0,70.0,74933.0
3,2024,1,Chaco,236.0,416.0,14156.0,9044.0,5533.0,5718.0,116624.0,3816.0,155543.0
4,2024,1,Chubut,111.0,1083.0,43828.0,31885.0,23024.0,20261.0,33844.0,16640.0,170676.0

In [461]:
# Accesos dial-up y Banda Ancha Fija (BAf)
dial_BAf = excel[paginador[12]]
dial_BAf.head()

    Año  Trimestre        Provincia  Banda ancha fija  Dial up    Total
0  2024          1     Buenos Aires           5038657   5900.0  5044557
1  2024          1  Capital Federal           1502661   2050.0  1504711
2  2024          1        Catamarca             74932      1.0    74933
3  2024          1            Chaco            155538      5.0   155543
4  2024          1           Chubut            169819    857.0   170676

In [462]:
# Totales de accesos dial-up y Banda Ancha Fija (BAf).
totales_Dial_BAf = excel[paginador[13]]
totales_Dial_BAf.head()

    Año  Trimestre  Banda ancha fija  Dial up     Total        Periodo
0  2024          1          11621363    11793  11633156   Ene-Mar 2024
1  2023          4          11535868    11793  11547661   Oct-Dic 2023
2  2023          3          11395115    11793  11406908  Jul-Sept 2023
3  2023          2          11239781    12116  11251897   Abr-Jun 2023
4  2023          1          11229459    12436  11241895   Ene-Mar 2023

In [463]:
#  Ingresos generados por los servicios de internet en miles de pesos.
ingresos = excel[paginador[14]]
ingresos.head()

    Año  Trimestre  Ingresos (miles de pesos)        Periodo
0  2024          1               2.804191e+08   Ene-Mar 2024
1  2023          4               1.673760e+08   Oct-Dic 2023
2  2023          3               1.331066e+08  Jul-Sept 2023
3  2023          2               1.180603e+08   Jun-Mar 2023
4  2033          1               1.041350e+08   Ene-Mar 2023

Exportar las hojas.

In [464]:
accesos_Por_Tecnología.Año = accesos_Por_Tecnología['Año'].astype(str).str.replace('*', '', regex=False).str.strip() # Quitar los * , '' de 2019
threshold = len(accesos_Por_Tecnología.columns) * 0.8
accesos_Por_Tecnología = accesos_Por_Tecnología.dropna(thresh=threshold) # Eliminar filas con más del 80% de columnas nulas
accesos_Por_Tecnología.loc[:, 'Año'] = accesos_Por_Tecnología['Año'].dropna().astype(int)  # Eliminar NaN y convertir a enteros

accesos_Por_Tecnología.to_csv('../data/crudo/acc_x_tecnologia.csv',index=False)

In [465]:
dial_BAf = dial_BAf[dial_BAf['Trimestre'] == 1]
dial_BAf.to_csv('../data/crudo/dial_baf.csv',index=False)

totales_Dial_BAf.to_csv('../data/crudo/dial_total.csv',index=False)

In [466]:
penetracion_hogares.to_csv('../data/crudo/p_hogar.csv',index=False)

## Datos de Inflación

Los datos de inflación utilizados en este análisis fueron obtenidos de la página oficial del Instituto Nacional de Estadística y Censos (INDEC) de Argentina. La fuente de los datos es el Índice de Precios al Consumidor (IPC) con cobertura nacional.

Puedes consultar los datos originales en el siguiente enlace proporcionado por el INDEC:

[Índice de Precios al Consumidor - INDEC](https://www.indec.gob.ar/indec/web/Nivel4-Tema-3-5-31)

Los datos descargados incluyen información sobre la inflación mensual en Argentina, que se ha procesado y analizado para obtener estadísticas trimestrales de inflación.

In [467]:
indec = pd.read_excel(r'C:\Users\mauri\OneDrive\Escritorio\Analisis-de-Mercado-Telefonicas-Arg\data\crudo\sh_ipc_09_24.xls', sheet_name=None)
paginador_i = list(indec.keys())
paginador_i

['Variación mensual IPC Nacional',
 'Var. interanual IPC Nacional',
 'Índices IPC Cobertura Nacional',
 'IPC GBA Base dic 2016',
 'IPC GBA Abril 2016-Mayo 2017',
 'Ponderaciones']

In [468]:
ipc = indec[paginador_i[0]] # Leer la hoja
ipc = ipc.iloc[[4, 8]] # Seleccionar solo la inflacion y mes. 
ipc.columns = ipc.iloc[0] # La primera fila como columnas.
ipc = ipc.T # Transponer el dataframe
ipc.columns = ipc.iloc[0] # La primera fila como columnas.
ipc = ipc[1:] # Quitar la pprimera fila
ipc.index.name = None
ipc.reset_index(drop=True, inplace=True) # Restablecer el índice para que sea numérico
ipc['Total nacional'] = ipc['Total nacional'].apply(lambda x: pd.to_datetime(x).strftime('%Y-%m') if pd.to_datetime(x, errors='coerce') is not pd.NaT else x)
ipc['Total nacional'] = pd.to_datetime(ipc['Total nacional'], errors='coerce')


# Tomar solo hasta Marzo. que es hasta donde llegan los ingresos.
ipc = ipc[ipc['Total nacional'] <= '2024-03-01']
# Calcular la inflacion trimestral
ipc.set_index('Total nacional', inplace=True)
ipc = ipc.resample('QE').sum()
ipc = ipc.reset_index()
ipc['Año'] = ipc['Total nacional'].dt.year
ipc['Trimestre'] = ipc['Total nacional'].dt.quarter
ipc['Nivel general'] = ipc['Nivel general'].astype(float)
ipc = ipc.drop(columns=['Total nacional'])

ipc.head()

Total nacional  Nivel general   Año  Trimestre
0                         6.1  2017          1
1                         5.3  2017          2
2                         5.0  2017          3
3                         6.0  2017          4
4                         6.5  2018          1

In [469]:
ingresos.loc[ingresos['Año'] == 2033, 'Año'] = 2023 # Modificar un error del df.
ingresos = pd.merge(ingresos, ipc, on=['Año', 'Trimestre'], how='left') # merge para combinar los DataFrames por Año y Trimestre
ingresos.dropna(subset=['Nivel general'], inplace=True)

ingresos.to_csv('../data/crudo/ingresos.csv',index=False)